<ion-header>
  <ion-toolbar color="danger">
  <ion-title>{{prod}} Productos Agregados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label >Total: ${{total}} </ion-label>
  <ion-list *ngFor="let element of ventas">

    <ion-item>
      <ion-label>{{element.productos.Nombre}}</ion-label>
      <ion-label>{{element.productos.Precio}}</ion-label>
      <ion-label>{{element.productos.Cantidad}}</ion-label>
      <ion-item>{{element.productos.Total}}</ion-item>
      <ion-button (click)="eliminarprod(element.id)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>

  </ion-list>


  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-button expand="block" (click)="addtable()">Comprar</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div>
          <ion-button expand="block" (click)="eliminartabla()">Borrar carrito</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>


</ion-content>

<div style="background-color: #fdd100">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
        <ion-button (click)="IrCarrito()"  expand="block"> <ion-icon name="home"></ion-icon> </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
        <ion-button (click)="IrViewCarrito()" expand="block"> <ion-icon name="cart"></ion-icon> </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
