<ion-app>
  <ion-menu contentId="my-content">
  <ion-header >
    <ion-toolbar >
        <ion-title> Opciones </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="my-content">
      <ion-list>
        <ion-item >
            <ion-icon></ion-icon>
            <ion-label>Mi carrito</ion-label>
        </ion-item>
        <ion-item >
            <ion-icon></ion-icon>
            <ion-label>Salir</ion-label>
        </ion-item>

      </ion-list>
  </ion-content>
  </ion-menu>
<div class="ion-page">


<ion-header >
  <ion-toolbar color=danger>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Comprar
    </ion-title>
  </ion-toolbar>
    <ion-searchbar class="barra" animated (ionChange)="search($event)" ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="recargarpag($event)">
   <ion-refresher-content></ion-refresher-content>
 </ion-refresher>
  <ion-list *ngFor="let element of ropaH | filtro: shrm">
    <ion-item-sliding>
          <ion-item class="ion-text-capitalize">
                  <ion-grid>
                    <div>
                    <ion-row>
                      <ion-col>
                        <div class="colimg1">
                            <img class="img " src="{{element.productos.Url2}}" class="images" alt=""/>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="coldesc1">
                            <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
                            <br>
                            <ion-label class="ion-text-wrap">Departamento: Ropa para hombre</ion-label>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="colprice1">
                            <ion-label>Precio: ${{element.productos.Precio}}</ion-label>
                            <br/>
                            <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
                            <br/>
                            <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
                            <br/>
                            <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div>
                            <ion-button (click)="in(element.productos.Nombre, element.productos.Precio, element.productos.Stock)">Agregar</ion-button>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div>
                          <ion-input [(ngModel)]="canti" type="number">En carrito: </ion-input>
                        </div>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-grid>
              </ion-item>
            </ion-item-sliding>
          </ion-list>

          <ion-list *ngFor="let element of ropaM | filtro: shrm">
            <ion-item-sliding>
              <ion-item  (click)="sendLocalst(element.productos)"   class="ion-text-capitalize">

                <ion-grid>
                  <div>
                  <ion-row>
                    <ion-col>
                        <div class="colimg1" >
                            <img class="img" src="{{element.productos.Url2}}" class="images" alt="">
                        </div>
                      </ion-col>

                      <ion-col>
                        <div class="coldesc1">

                            <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
                            <br>
                            <ion-label class="ion-text-wrap">Departamento: Ropa para mujer</ion-label>
                        </div>
                      </ion-col>

                      <ion-col>
                        <div  class="colprice1" >
                            <ion-label>Precio: ${{element.productos.Precio}}</ion-label>
                            <br/>
                            <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
                            <br/>
                            <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
                            <br/>
                            <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div>
                            <ion-button (click)="in1(element.productos.Nombre, element.productos.Precio, element.productos.Stock)">Agregar</ion-button>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div>
                          <ion-input [(ngModel)]="canti1" type="number">En carrito: </ion-input>
                        </div>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-grid>
                </ion-item>

                </ion-item-sliding>
            </ion-list>
            <ion-list *ngFor="let element of tennisH | filtro: shth">
                <ion-item-sliding>
                    <ion-item class="ion-text-capitalize">
                      <ion-grid>
                        <div>
                        <ion-row>
                          <ion-col>
                            <div class="colimg1">
                              <img class="img" src="{{element.productos.Url2}}" class="images" alt="">
                            </div>
                          </ion-col>
                          <ion-col>
                            <div class="coldesc1">
                              <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
                              <br>
                              <ion-label class="ion-text-wrap">Departamento: Tennis para hombre</ion-label>
                            </div>
                          </ion-col>
                          <ion-col>
                            <div class="colprice1">
                              <ion-label fondo>Precio: ${{element.productos.Precio}}</ion-label>
                              <br/>
                              <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
                              <br/>
                              <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
                              <br/>
                              <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
                            </div>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <div>
                              <ion-button (click)="in2(element.productos.Nombre, element.productos.Precio, element.productos.Stock)">Agregar</ion-button>
                            </div>
                          </ion-col>
                          <ion-col>
                            <div>
                              <ion-input [(ngModel)]="canti2" type="number">En carrito: </ion-input>
                            </div>
                          </ion-col>
                        </ion-row>
                      </div>
                      </ion-grid>
                      </ion-item>

                </ion-item-sliding>
            </ion-list>
            <ion-list *ngFor="let element of tennisM | filtro: shtm">
                <ion-item-sliding>
                    <ion-item class="ion-text-capitalize">
                      <ion-grid>
                        <div>
                        <ion-row>
                          <ion-col>
                            <div class="colimg1">
                            <img class="img" src="{{element.productos.Url2}}" class="images" alt="">
                            </div>
                          </ion-col>
                          <ion-col>
                            <div class="coldesc1">
                              <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
                              <br>
                              <ion-label class="ion-text-wrap">Departamento: Tennis para mujer</ion-label>
                            </div>
                          </ion-col>
                          <ion-col>
                            <div class="colprice1">
                              <ion-label>Precio: ${{element.productos.Precio}}</ion-label>
                              <br/>
                              <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
                              <br/>
                              <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
                              <br/>
                              <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
                            </div>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <div>
                              <ion-button  (click)="in3(element.productos.Nombre, element.productos.Precio, element.productos.Stock)">Agregar</ion-button>
                            </div>
                          </ion-col>
                          <ion-col>
                            <div>
                            <ion-input [(ngModel)]="canti3" type="number">En carrito: </ion-input>
                            </div>
                          </ion-col>
                        </ion-row>
                      </div>
                      </ion-grid>
                      </ion-item>

                </ion-item-sliding>
            </ion-list>
</ion-content >

<div style="background-color: #fdd100">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
        <ion-button (click)="IrCarrito()" expand="block"> <ion-icon name="home"></ion-icon> </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
        <ion-button (click)="IrViewCarrito()" expand="block"> <ion-icon name="cart"></ion-icon> </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

</div>
</ion-app>
