<ion-tabs class="fondoamarillo">

  <ion-tab-bar slot="bottom" class="fondoamarillo">
    <ion-tab-button class="fondoamarillo" tab="tab1">
      <ion-icon class="icono" name="person"></ion-icon>
        <ion-label class="letraab">Administrador</ion-label>
    </ion-tab-button>

    <ion-tab-button class="fondoamarillo" tab="tab2">
      <ion-icon class="icono" name="add-circle"></ion-icon>
      <ion-label class="letraab" >Altas</ion-label>
    </ion-tab-button>

    <ion-tab-button class="fondoamarillo" tab="tab3">
      <ion-icon class="icono" name="stats"></ion-icon>
      <ion-label class="letraab">Consultas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>



</ion-tabs>
