.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.colimg{
  width: 30% !important;
  margin-right:10px !important;
  box-shadow: 1px 1px 20px rgba(87, 0, 11, 1);

}
.coldesc{
  width: 40% !important;

}
.colprice{
  width: 30% !important;
}
