<ion-app>
<ion-menu contentId="my-content">
<ion-header >
  <ion-toolbar >
      <ion-title> Menu </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="my-content">
    <ion-list>
      <ion-item >
          <ion-icon></ion-icon>
          <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item >
          <ion-icon></ion-icon>
          <ion-label>Altas</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon></ion-icon>
          <ion-label>Consultas</ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
</ion-menu>

<div class="ion-page">


<ion-header >
  <ion-toolbar color=danger>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
    <ion-searchbar animated (ionChange)="search($event)" ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="recargarpag($event)">
   <ion-refresher-content></ion-refresher-content>
 </ion-refresher>
  <ion-list *ngFor="let element of ropaH | filtro: shrm">
                <ion-item-sliding>
                    <ion-item (click)="openModificar(element.id,element.productos.Nombre, element.productos.Url2,element.productos.URl,element.productos.Precio, element.productos.PrecioMay,element.productos.PrecioMen, element.productos.Stock)" class="ion-text-capitalize">
                        <div class="col-1 colimg">
                            <img class="img" src="{{element.productos.Url2}}" class="images" alt=""/>
                        </div>
                        <div class="col-2 coldesc" >
                            <ion-label>ID: {{element.id}}</ion-label>
                            <br>
                            <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
                            <br>
                            <ion-label class="ion-text-wrap">Departamento: Ropa para hombre</ion-label>
                        </div>
                        <div class="col-3 colprice">
                            <ion-label>Precio: ${{element.productos.Precio}}</ion-label>
                            <br/>
                            <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
                            <br/>
                            <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
                            <br/>
                            <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
                        </div>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color="danger" >
                            <ion-button fill="clear" (click)="deleterH(element.id, element.productos.Url)">
                                <ion-icon color="light" name="trash"></ion-icon>
                            </ion-button>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
            <ion-list *ngFor="let element of ropaM | filtro: shrm">
                <ion-item-sliding>
                    <ion-item  (click)="sendLocalst(element.productos)"   class="ion-text-capitalize">
                        <div class="col-1 colimg" (click)="openModificar(element.id)" >
                            <img class="img" src="{{element.productos.Url2}}" class="images" alt="">
                        </div>
                        <div class="col-2 coldesc" (click)="openModificar(element.id)" >
                            <ion-label>ID: {{element.id}}</ion-label>
                            <br>
                            <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
                            <br>
                            <ion-label class="ion-text-wrap">Departamento: Ropa para mujer</ion-label>
                        </div>
                        <div class="col-3 colprice" (click)="openModificar(element.id)" >
                            <ion-label>Precio: ${{element.productos.Precio}}</ion-label>
                            <br/>
                            <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
                            <br/>
                            <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
                            <br/>
                            <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
                        </div>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color="danger">
                            <ion-button fill="clear" (click)="deleterM(element.id, element.productos.Url)">
                                <ion-icon color="light" name="trash"></ion-icon>
                            </ion-button>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
            <ion-list *ngFor="let element of tennisH | filtro: shth">
                <ion-item-sliding>
                    <ion-item class="ion-text-capitalize">
                        <div class="col-1 colimg fondo">
                            <img class="img" src="{{element.productos.Url2}}" class="images" alt="">
                        </div>
                        <div class="col-2 coldesc">
                            <ion-label>ID: {{element.id}}</ion-label>
                            <br>
                            <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
                            <br>
                            <ion-label class="ion-text-wrap">Departamento: Tennis para hombre</ion-label>
                        </div>
                        <div class="col-3 colprice">
                            <ion-label fondo>Precio: ${{element.productos.Precio}}</ion-label>
                            <br/>
                            <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
                            <br/>
                            <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
                            <br/>
                            <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
                        </div>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color="danger">
                            <ion-button fill="clear" (click)="deletetH(element.id, element.productos.Url)">
                                <ion-icon color="light" name="trash"></ion-icon>
                            </ion-button>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
            <ion-list *ngFor="let element of tennisM | filtro: shtm">
                <ion-item-sliding>
                    <ion-item class="ion-text-capitalize">
                        <div class="col-1 colimg">
                            <img class="img" src="{{element.productos.Url2}}" class="images" alt="">
                        </div>
                        <div class="col-2 coldesc">
                            <ion-label>ID: {{element.id}}</ion-label>
                            <br>
                            <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
                            <br>
                            <ion-label class="ion-text-wrap">Departamento: Tennis para mujer</ion-label>
                        </div>
                        <div class="col-3 colprice">
                            <ion-label>Precio: ${{element.productos.Precio}}</ion-label>
                            <br/>
                            <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
                            <br/>
                            <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
                            <br/>
                            <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
                        </div>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color="danger">
                            <ion-button fill="clear" (click)="deletetM(element.id, element.productos.Url)">
                                <ion-icon color="light" name="trash"></ion-icon>
                            </ion-button>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>

</ion-content>
</div>
</ion-app>
