.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.colimg{
  width: 30% !important;
  margin-right:10px !important;
  border: black 3px solid;
}
.coldesc{
  width: 40% !important;

}
.colprice{
  width: 30% !important;
}
