<ion-tabs class="fondoamarillo">

  <ion-tab-bar slot="bottom" class="fondoamarillo">
    <ion-tab-button class="fondoamarillo" tab="carrito">
      <ion-icon class="icono" name="person"></ion-icon>
        <ion-label class="letraab">Comprar</ion-label>
    </ion-tab-button>

    <ion-tab-button class="fondoamarillo" tab="view-carrito">
      <ion-icon class="icono" name="add-circle"></ion-icon>
      <ion-label class="letraab" >Mi carrito</ion-label>
    </ion-tab-button>

</ion-tab-bar>
</ion-tabs>
